.CartList{
    margin:0;
    padding: 0;
    list-style: none;
}
.CartList_Wrapper{
    padding-bottom: 50px;
    margin-top:90px;
}
.CartList_Item{
    display: flex;
    align-items: center;
    margin-top:40px;
}
.CartList_Item_Data{
    display: flex;
    flex-direction: column;
    margin-left:14px;
    justify-content: space-between;
    height: 100%;
    flex: 1;
}
.CartList_Item_DataFirst_Title{
    margin:0;
    padding: 0;
    font-size:14px;
    font-weight: 400;
    width: 100px;
}
.CartList_Item_DataFirst_Price{
    margin:0;
    padding: 0;
    width: auto;
}
.CartList_Item_IMG_Wrapper{
    width: 68px;
    height: 71px;
}
.CartList_Item_IMG{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.CartList_Item_DataSecond_Actions{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.CartList_Item_DataSecond_Actions_Count{
    margin:0;
    padding: 0;
    margin:0px 7px 0px 7px;
    font-size: 14px;
}
.CartList_Item_DataSecond_Actions_Count::-ms-clear {display: none;}
.CartList_Item_DataFirst{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.CartList_Item_DataSecond{
    display: flex;
    justify-content: space-between;
}
.CartList_Item_DataSecond_Shipp{
    font-size: 14px;
    margin:0;
    padding: 0;
}
.CartList_Item_DataSecond_Actions_Decrease,
.CartList_Item_DataSecond_Actions_Increase{
    padding: 0px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    background: none;
    border:1px solid black;
    cursor: pointer;

}

.CartList_Item_Data_Addition{
    display: flex;
    margin:10px 0px;
}
.CartList_Item_Data_Addition_Size{
    margin:0;
    padding: 0;
}
.CartList_Item_Data_Addition_Color{
    margin:0;
    padding: 0;
}
.CartList_NoItems_FeedBack{
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.CartList_Preloader{
    transform: translateY(-50%);
}
@media (min-width: 950px) { 
    .CartList{
        margin:0;
        padding: 0;
        margin-top:50px
    }
    .CartList_NoItems_FeedBack{
        font-size: 24px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }
    .CartList_Item_IMG_Wrapper{
        width: 110px;
        height: 110px;
    }
    .CartList_Item:first-child{
        margin:0;
    }
    .CartList_Item_Data{
        margin-left:50px;
    }
    .CartList_Item_DataFirst_Title{
        font-size: 20px;
        width: 80%;
        font-weight: 500;
    }
    .CartList_Item_DataFirst_Price{
        font-size: 20px;
        font-weight: 700;
    }
    .CartList_Item_DataSecond_Shipp{
        font-size: 16px;
        color:rgba(0, 0, 0, 0.5);
    }
    .CartList_Item_DataSecond_Actions_Increase{
        width: 32px;
        height: 32px;
    }
    .CartList_Item_DataSecond_Actions_Decrease{
        width: 32px;
        height: 32px;
    }
    .CartList_Wrapper{
        padding: 0px;
        margin:0px;
    }
    .CartList_Wrapper_Title{
        font-size: 28px;
        text-transform: uppercase;
    }
}