.CartList{
    margin:0;
    padding: 0;
    list-style: none;
}
.CartList_Wrapper{
    padding-bottom: 50px;
    margin-top:90px;
}
.CartList_Preloader{
    transform: translateY(-50%);
}
@media (min-width: 950px) { 
    .CartList{
        margin:0;
        padding: 0;
        margin-top:50px
    }
    .CartList_Wrapper{
        padding: 0px;
        margin:0px;
    }
    .CartList_Wrapper_Title{
        font-size: 28px;
        text-transform: uppercase;
    }
}