.ProductSimilar{
    width: 306px;
    margin:0 auto;
    margin-top:92px;
}
.ProductSimilar_Title{
    margin:0;
    padding: 0;
}


@media (min-width: 950px) {
    .ProductSimilar{
        width: 1604px;
        margin:0 auto;
        margin-top:120px;
    }
    .ProductSimilar{
        display: flex;
    }
    .ProductSimilar_Title{
        margin-left: 72px;
    }
}