table.Stock {
    font-family: Arial, Helvetica, sans-serif;
    border: 0px solid #909090;
    background-color: #FFFFFF;
    width: 100%;
    text-align: left;
  }
  table.Stock td, table.Stock th {
    border: 0px solid #FFFFFF;
    padding: 6px 7px;
  }
  table.Stock tbody td {
    font-size: 12px;
    color: #1A1A1A;
  }
  table.Stock tr:nth-child(even) {
    background: #E8E8E8;
  }
  table.Stock thead {
    background: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
  }
  table.Stock thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    border-left: 2px solid #FFFFFF;
  }
  table.Stock thead th:first-child {
    border-left: none;
  }
  
  table.Stock tfoot {
    font-size: 14px;
    font-weight: bold;
    background: #FFFFFF;
  }
  table.Stock tfoot td {
    font-size: 14px;
  }