.CheckoutDetails{
    display: grid;
    flex-direction: column;
    width: 100%;
}

.CheckoutDetails_Title{
    margin:0;
    padding: 0;
    font-weight: bold;
    font-size: 24px;
}

.CheckoutDetails_Wrapper{
    margin-top:23px;
    display: grid;
    grid-template-areas: 
    "firstName"
    "lastName"
    "email"
    "company "
    "phone"
    "country"
    "zip"
    "state "
    "address "
    "city ";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}

@media (min-width: 950px) { 
    .Checkout{
        display: flex;
    }
    .CheckoutDetails{
        display: block;
        margin:0;
        padding:0;
        display: flex;
    }
    .CheckoutDetails_Wrapper{

        grid-template-areas: 
        "firstName lastName"
        "email email"
        "company company"
        "phone phone"
        "country zip"
        "state state"
        "address address"
        "city city";

        
    }

    
}