.CheckoutDetails{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.CheckoutDetails_Title{
    font-size: 50px;
    margin:0;
    padding: 0;
}

.CheckoutDetails_Actions_Button:disabled,
.CheckoutDetails_Actions_Button[disables]{
    opacity: 0.7;
}
@media (min-width: 950px) { 
    .Checkout{
        display: flex;
    }
    .CheckoutDetails{
        display: block;
        margin:0;
        padding:0;
        display: flex;

    }


}