.RegisterForm{
    margin-top:10px;
}
.RegisterForm_Form{
    display: flex;
    flex-direction: column;
}
.RegisterForm_Input{
    padding: 18px 0px 18px 13px;
    margin-top:15px;
    border:1px solid black
}

.RegisterForm_Input_Error{
    border :1px solid red;
}
.RegisterForm_Input_Feedback::before{
    content:"*"
}
.RegisterForm_Input_Feedback{
    color:red;
    font-size: 14px;
    margin-top:3px;
}
@media (min-width: 950px) { 
    .RegisterForm_Input{
        margin-top:20px;
        padding: 24px 0px 24px 20px;
        font-size: 14px;
    }

}