.OrderList{
  list-style: none;
  margin:0;
  padding: 0;
  margin-top:52px;
}
.OrderList_Item{
  display: flex;
  align-items: center;
  padding: 25px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.OrderList_Item_Data{
  margin-left:48px;
  margin-top:30px
}
.OrderList_Item_Data_Title{
  width: 287px;
  font-size: 18px;
  line-height: 180%;
  margin:0;
  font-weight: 500;
}

.OrderList_Item_Data_Char_List{
  list-style: none;
  margin:0;
  padding: 0;
}
.OrderList_Item_Data_Char_List_Item{
  margin-bottom: 9px;
  margin:0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  height: 27px;
}
.OrderList_Item_Data_FullPrice{
  display: block;
  margin-top:10px;
}
.OrderList_Item_IMG_Wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 240px;
  background: #F2F2F2;
}
.OrderList_Item_IMG{
  max-width: 190px;
  max-height: 220px;
}
.OrderList_Item_Status{
  display: flex;
  margin-left:auto;
  margin-right: 30px;
}
.OrderList_Item_Status_Preholder{
  font-weight: 300;
  font-size: 16px;
  opacity: 0.2;
}
.OrderList_Item_Status_Title{
  margin-left:55px;
}
.OrderList_Item_Main_Title-Mobile{
  display: none;
}
.OrderList_Item_Data_Char_List_Item_Title{
  font-size: 16px;
  font-weight: bold;
}
.OrderList_Item_units{
  font-weight: 100;
}


@media (max-width: 1450px) { 
  .OrderList_Item{
    display: grid;
    grid-template-columns:216px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
  }
  .OrderList_Item_Status{
    grid-column: 2/3;
  }

}

@media (max-width: 950px) { 
  .OrderList_Item{
    display: block; 
  }
  .OrderList_Item_Main_Title-Mobile{
    display: block;
    margin:0;
    margin-left:30px;
    width: 287px;
    font-size: 18px;
    line-height: 180%;
    font-weight: 500;
  }
  .OrderList_Item_Data{
    margin:0;
  }
  .OrderList_Item_Data_Title{
    display: none;
  }
  .OrderList_Item_Main{
    display: flex;
  }

  .OrderList_Item_IMG_Wrapper{
    width: 119px;
    height: 132px;
  }
  .OrderList_Item_IMG{
    max-width: 99px;
    max-height: 99px ;
  }
  .OrderList_Item_Data_Char_List_Item_Value{
    display: block;
    text-align: right;
  }
  .OrderList_Item_Main{
    padding-bottom: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .OrderList_Item_Data{
    margin-top:10px
  }
  .OrderList_Item_Status{
    padding: 17px 0px;
  }
  .OrderList_Item{
    padding-bottom: 0px;
    padding-top:40px;
  }
  .OrderList_Item_Data_Char{
    padding-bottom: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .OrderList_Item_Status{
    margin:0;
  }
  .OrderList_Item_Status_Title{
    margin-left:auto;
  }
  .OrderList_Item_Data_FullPrice{
    display: flex;
    justify-content: flex-end;
  }
  .OrderList_Item:first-child{
    padding-top:0px;
  }
}