.DataDetails{
    margin-top:77px;
}
.DataDetails_Title{
    margin:0;
    padding: 0;
}

.DataDetails_Data_Main{
    margin:0;
    padding: 0;
    margin-top:8px;
    line-height: 150%;
}
.DataDetails_Data_Main > * {
    margin:0;
    padding: 0;
}
.DataDetails_Data_List{
    margin:0;
    padding: 0;
    margin-top:18px;
    margin-left:5%;
}
.DataDetails_Data_List_Item{
    margin-top:8px;
    position: relative;
    padding-left: 20px;
}

@media (min-width: 950px) { 
    .DataDetails{
        display: flex;
        margin-top:120px;
        display: flex;
        justify-content: space-between;
        
    }
    .DataDetails_Data{
        max-width: 950px;
        width: 50vw;
        margin-left:50px;
    }
    .DataDetails_Data_Main{
        margin:0;
        width: auto;

        font-size: 24px;
    }
    .DataDetails_Title{
        font-size: 24px;
        font-weight: 700;
        margin-left: 170.2px;
    }
    .DataDetails_Data_List{
        margin-left:2%;
    }

}







