.CheckoutPage{
    width: 306px;
    margin:0 auto;
    position: relative;
    display: flex;
}


@media (min-width: 950px) { 
    .CheckoutPage{
        width: 1604px;
        margin:0 auto;
        justify-content: space-between;
    }
}