.ProductsPage{
        width: 306px;
        margin: 0 auto;
        margin-top:0px;
}
.Products_Wrapper{
        width: 100%;
}

@media (min-width: 950px) { 
        .ProductsPage{
            width: 1604px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            margin-top:28px;

    }
        
}