.ReviewsForm_Form{
    display: flex;
    flex-direction: column;
    margin-top:50px;
    border-top:2px solid black;
    height: 2px;
    overflow: hidden;
    transition: 2s;
}

.ReviewsForm_Form.ReviewsForm_Form_Open{
    transition: all 1.4s;
    display: flex;
    height: 500px;
}




.ReviewsForm_Input{
    padding: 10px 5px;
    box-sizing: border-box;
    margin-top:20px
}
.ReviewsForm_Input_textArea{
    min-width: 100%;
    max-width: 100%;
    min-height: 50px;
}

.ReviewsForm_Input:first-child{
    margin-top:0;
}
.ReviewsForm_Button{
    display: block;
    margin-top:20px;
    padding: 20px;
    width: 200px;
    margin-left:auto;
    background-color: black;
    color:white;
    border:none;
    cursor: pointer;
}
.ReviewsForm_NoAuth{
    margin-left:auto;
    display: flex;
    flex-direction: column;
    
}
.ReviewsForm_NoAuth_Input{
    padding: 10px 5px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.ReviewsForm_NoAuth_Input_Wrapper{
    margin-top:20px;
    margin-left:80px;
    display: flex;
    flex-direction: column;
}




.ReviewsForm_Rate_Data_Rating{
    margin:0;
    padding: 0;
    font-size: 64px;
}
.ReviewsForm_Rate_Data{
    display: flex;
    align-items: center;
    margin-top:19px
}
.ReviewsForm_Rate_Wrapper_Total{
    display: block;
    margin-top:5px;
}
.ReviewsForm_Rate_Data_Wrapper{
    margin-left:7px;
}


.ReviewsForm_Rate{
    display: flex;
    list-style: none;
    margin:0;
    padding: 0;
    margin-top:5px;
    max-width: 120px;
}
.ReviewsForm_Rate > .rc-rate-star > div > .rc-rate-star-second{
    display: none;
}
.ReviewsForm_Rate > .rc-rate-star > div > .rc-rate-star-first > .fas.fa-star{
    font-size: 18px;
}
.ReviewsForm_Rate > .rc-rate-star-zero > div > .rc-rate-star-first > .fas.fa-star{
    color:#CCCCCC
}
.ReviewsForm_Rate > .rc-rate-star-full > div > .rc-rate-star-first > .fas.fa-star{
    color:#0A0A0A
}

.CreateReview_Button{
    display: block;
    margin-left:auto;
    border:none;
    cursor: pointer;
    padding: 5px 5px;
}


@media (min-width: 950px) { 

    .ReviewsForm_NoAuth{
        margin-left:auto;
        display: flex;
        
    }
    .ReviewsForm_NoAuth_Input{
        padding: 10px 5px;
        box-sizing: border-box;
        width: 27.51031636863824vw;
        display: flex;
        flex-direction: row;
    }
    .ReviewsForm_NoAuth_Input_Wrapper{
        margin-top:20px;
        margin-left:80px;
        display: flex;
        flex-direction: column;
    }    

}