.Features{
    list-style: none;
    margin:0;
    padding: 0;
    margin-top:5px;
    color:white;
    
}
.Features_Item_Img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    z-index: 8;
    
}
.Features_Item_Title{
    margin:0;
    height: auto;
    overflow-wrap: break-word;
    font-size: 18px;
    color:white;
    text-transform: none;
}
.Features_Item a{
    text-decoration: none;
}
.Features_Item{
    margin-top:60px;
    position: relative;    
    z-index: 100;
}




@media (min-width: 950px) { 
    .Features{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .Features_Item{
        margin:0;
    }
    .Features_Item_Title{
        bottom:2.066vh;
        left:1.041vw;
        font-size: 21px;
    }
    .Features_Item_Img{
        width: auto;
        height: auto;
        object-fit: cover;
    }

    .Features_Item-0{
        margin-top:19.42vh;
        width: 22.395vw;
    }
    .Features_Item_Img{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
   

    .Features_Item-1{
        margin-right: 3.33vw;
        width: 32.86vw;
    }
    .Features_Item-2{
        margin-top:21.38vh;
        width: 33vw;
    }

    .Features_Item-3{
        margin-right: 6.09375vw;
        width:  23.69vw;
    }
    .Features_Item-3::after{
        content:'So, the first question on your mind… what is it we do?';
        display: block;
        position: absolute;
        width: 200px;
        font-style: 18px;
        bottom:100px;
        left:13vw;
    }
    .Features_Item_Img_wrap{
        transition: all 0.2s;
        overflow: hidden;
    }
    .Features_Item_Img{
        transition: all 0.7s;
    }
    .Features_Item_Img_wrap:hover .Features_Item_Img{
        transform:scale(1.2);
        transition: all 0.7s;
    }
    .Features_Item_Img_wrap:hover{
        transform:scale(0.96);
        transition: all 0.7s;

    }

}