.AccountMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:100px;   
}
.AccountMenu_List{
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    z-index: 99999;
}

.AccountMenu_List_Item_Title{
    font-weight: 400;
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    z-index: 99999;
}

.AccountMenu_List_Item{
    margin-top:50px;
}
.AccountMenu_List_Item:first-child{
    margin-top:46px;
}
.AccountMenu_List_Item{
    position: relative;
}
.AccountMenu_Title{
    margin:0;
    padding: 0;
    font-size: 80px;
    white-space: nowrap;
}
.AccountMenu_List_Item_Title{
    cursor: pointer;
}
.AccountMenu::before{
    content:"";
    width: 500px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.021);
    position: fixed;
    display: block;
    top:0;
    left:0;
    min-width: 450px;
    z-index: 1;
}

@media (max-width: 1450px) { 
    .AccountMenu{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .AccountMenu_List{
        align-items: flex-start;
    }
    .AccountMenu_Title{
        font-size: 50px;
    }
    .AccountMenu::before{
        content:"";
        width: 26vw;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.021);
        position: absolute;
        display: block;
        top:0;
        left:0;
        min-width: 320px;
    }
}

@media (max-width: 950px) { 
    .AccountMenu_Title{
        font-size: 41px;
    }
    .AccountMenu{
        align-items: center;
    }
    .AccountMenu_List{
        align-items: center;
    }
    .AccountMenu::before{
        content:"";
        width: 100%;
        height: 500px;
        background-color: rgba(0, 0, 0, 0.021);
        position: absolute;
        display: block;
        top:0;
        left:0;
    }
}