.BannerCatalog{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.BanerCatalog_ImgWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    display: none;
    transition:1s;
}


.BanerCatalog_ImgWrapper:first-child{
    display: flex;
}
.BannerCatalog_Img--Main{
    width: 100%;
    height: 374px;
    object-fit: cover;
}
.BannerCatalog_Img{
    z-index: 9;
}

.BannerCatalog_Img--Second{
    width: 100%;
    height: 334px;
    object-fit: cover;
    margin-top:41px;
    display: none;
}

.BannerCatalog_Img--Third{
    display: none;
    width: 100%;
    height: 334px;
    object-fit: cover;
    margin-top:41px;    
    margin-left:41px;
}

@media (min-width: 950px) { 

    .BannerCatalog{
        width: 50.364583333333336vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .BanerCatalog_ImgWrapper{
        width: auto;
    }
    .BanerCatalog_ImgWrapper{
        display: block;
    }
    .BannerCatalog_Img--Main{
        width: 39.114583333333336vw;
        height: 590px;
        object-fit: cover;
        margin-left: 3.6458333333333335vw;
        display: block;
    }

    .BannerCatalog_Img--Second{
        width:  16.302083333333332vw;
        height:  230px;
        object-fit: cover;
        margin-top:4.235537190082645vh;
        display: block;
    }
    
    .BannerCatalog_Img--Third{
        width: 24.166666666666668vw;
        height: 350px;
        object-fit: cover;
        margin-top:4.235537190082645vh;    
        margin-left:2.1354166666666665vw;
        display: block;
    }

}
