
.MenuCart_Title{display: none;}

.MenuCart_Wrapper{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MenuCart_Link{
    display: flex;
    color:inherit;
    align-items: center;
    text-decoration: none;
}
@media (min-width: 950px) { 
    .MenuCart_Title{
        display: block;
        color:inherit;
    }
    .MenuCart{
        color:black;
        display: flex;
        justify-content: center;
        align-items: center;
        order:3;
    }
    .MenuCart_Wrapper{
        margin-left:9px;
    }
}