.Footer{
    color:white;
    background-color: #1B1B1B;
    padding-top: 6.155507559395248vh;
    padding-bottom: 6.911447084233261vh;
    margin-top: 8.855291576673865vh;
    flex-direction: column;
    position: relative;
}

.Footer_Moto{
    display: none;
}


.Footer_Data{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 120px;
    min-width: 306px;
    margin:0 auto;
}
.Footer_Data_Logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Footer_Data_Logo_Logo{
    font-size:  30px;
    text-align: center;
}
.Footer_Data_Logo_Data{
    margin-top:1.079913606911447vh;
}

@media (min-width: 950px) { 
    .Footer{
        margin-top: 82px;
        padding-bottom: 0px;
        padding: 0;
    }
    .Footer_Data{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 122px;
        width: 83.54166666666667vw;
        margin:0 auto;
        flex-direction: row;
    }
    .Footer_Data_Logo_Logo{
        font-size: 30px;
    }
    .Footer_Data_Logo_Data{
        margin-top:10px;
    }    

}