.Cart{
    position: relative;
    width: 306px;
    margin:0 auto;
}
.Cart_Data{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    width: 306px;
    margin:0 auto;
}

.Cart_Data_Title{
    margin:0;
    padding:0;
    text-align: center;
}
.Cart_Data_Description{
    margin:0;
    padding:0;
    text-align: center;
    line-height: 200%;
    margin-top:20px
}

@media (min-width: 950px) { 
    .Cart_Data{
        margin:0;
        width: auto;
        align-items: flex-start;
        z-index: 999;
        width: 250px;
    }
    .Cart{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top:70px;
    }
    .Cart_Main{
        width: 100%;
        margin-left: 15.416666666666666vw;
    }
    .Cart_Data_Title{
        font-size: 82px;
        position: relative;
    }
    .Cart_Data_Title::after{
        content:"";
        display: block;
        position: absolute;
        width: 50%;
        height: 3px;
        background-color: black;
        margin-top:9px;
        
    }
    .Cart_Data_Description{
        width: 100%;
        text-align: left;
        display: block;
        margin-top:40px
        
    }

}
