.ProductBanner{
    width: 306px;
    margin:0 auto;
}
.ProductBanner_IMG{
    width: 300px ;
    height: 300px ;
    display: block;
    margin:0 auto;
    object-fit: scale-down;
}
.carouselProvider{
    width: 300px ;
    height: 300px ;
}
.BannerData_Button-Mobile{
    display: block;
    margin-top:26px;
}
.carouselProvider > div{
    height: 300px;
}
.ProductBanner_Images_All{
    display: none;
}
.ProductBanner_Images_ALL_IMG{
    max-width: 50px;
    max-height: 80px;
    cursor: pointer;
}
.carouselProvider_Button{
    display: none;
}

@media (min-width: 950px) { 
    .ProductBanner{
        width: 83.54166666666667vw;
        max-width: 1603px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
    }
    .ProductBanner_IMG{
        max-width: 888px;
        width: 46.25vw;
        height: 705px;
        z-index: 9;
    }

    .ProductBanner_Images{
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
    }
    .BannerData_Button-Mobile{
        display: none;
    }
    .carouselProvider{
        width: 46.25vw;
        height: 705px;
    }
    .carouselProvider > div{
        height: 805px;
    }
    .ProductBanner_Images_All{
        display: flex;
        flex-direction: column;
    }
    .ProductBanner_Images_ALL_IMG{
        max-width: 50px;
        max-height: 80px;
        cursor: pointer;
    }
    .ProductBanner_Images_ALL_IMG:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
    .ProductBanner_Images_ALL_IMG-Active{
        background-color: rgba(0, 0, 0, 0.1);
    }
    .carouselProvider_Button{
        display: block;
        border:none ;
        background: none ;
        position: absolute;
        opacity: 0.7;
        top:50%;
        transform: translateY(-50%);
    }
    .ProductBanner_IMG{
        position: relative;
        margin-left:20px;
    }
    .carouselProvider_Button:disabled{
        opacity: 0.3;
        cursor: auto;
    }
    .carouselProvider_Button-Prev{
        left:0px;
    }
    .carouselProvider_Button-Next{
        right: 0px;
    }

    .carouselProvider_Button_IMG{
        width: 50px;
        height: auto;
    }
    .carouselProvider_Button_IMG-Prev{
        width: 30px;
        height: 30px;
    }
    .carouselProvider_Button_IMG-Next{
        transform: rotate(180deg);
        width: 30px;
        height: 30px;
    }
    .carouselProvider:hover > .carouselProvider_Button {
        opacity: 1 !important;
    }
    .carouselProvider:hover > .carouselProvider_Button:disabled {
        opacity: 0.3 !important;
    }
}