.ProductBanner{
    width: 306px;
    margin:0 auto;
}
.ProductBanner_IMG{
    width: 100%;
    height: 300px;
    display: block;
    margin:0 auto;
    object-fit: cover;
}

.BannerData_Button-Mobile{
    display: block;
    margin-top:26px;
}


@media (min-width: 950px) { 
    .ProductBanner{
        width: 1604px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        height: 80vh;
    }
    .ProductBanner_IMG{
        width: 100%;
        height: 100%;
        z-index: 9;
    }
    .ProductBanner_WrapperIMG{
        width: 888px;
        height: 705px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .BannerData_Button-Mobile{
        display: none;
    }
}