.CheckoutShipping_List{
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top:25px;
}
.CheckoutShipping{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.CheckoutShipping_List_Item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.CheckoutShipping_Title{
    margin:0;
    padding:0;
    font-size: 50px;
}

.CheckoutShipping_Actions{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-top:30px;    
}
.CheckoutShipping_Actions_Button{
    width: 300px;
    height: 54px;
    background: none;
    border:none;
    background-color: #000000;
    color:white;
    font-weight: 700;
    display: block;
    margin-left:auto;
    cursor:pointer;
}
.CheckoutShipping_Actions_Back{
    margin:0;
    padding:0;
    color:black;
    font-style: 12px;
    margin-top:10px;
    border:none;
    background: none;
    font-size: 16px;
    color:black;
    text-decoration: underline;
    cursor:pointer
}

@media (min-width: 950px) { 
    .CheckoutShipping_Actions{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top:30px;    
    }
    .CheckoutShipping_Actions_Back{
        margin:0;
    }
}