.CheckoutDetails_Input{
    padding: 38px 30px 12px;
    border:none;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    border: 1px solid #aeb3b6;
    box-sizing: border-box;
}
.CheckoutDetails_Input_Wrapp{
    position: relative;
    margin-top:25px
}
.CheckoutDetails_Input_LabeL{
    position: absolute;
    top:0;
    left:30px;
    cursor: text;
    top: 45%;
    transform: translateY(-45%);
    transition: 0.2s ease;
    font-size: 14px;  
    font-weight: 600;
}

.CheckoutDetails_Input:focus ~  .CheckoutDetails_Input_LabeL{
    top: 25%;
    transform: translateY(-25%)
}

.CheckoutDetails_Actions{
    display: flex;
    align-items: center;
    margin-top:30px;   
    flex-direction: column-reverse; 
    width: 100%;
}
.CheckoutDetails_Actions_Button{
    width: 300px;
    height: 54px;
    background: none;
    border:none;
    background-color: #000000;
    color:white;
    font-weight: 700;
    display: block;
    margin-left:auto;
    cursor:pointer;
}
.CheckoutDetails_Actions_Back{
    margin:0;
    padding:0;
    color:black;
    font-style: 12px;
    margin-top:10px;
}
.CheckoutDetails_Input_Error{
    border:1px solid red;
    animation: shake 0.42s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(1px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-1px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(1px, 0, 0);
    }
  }


@media (min-width: 950px) { 


    .CheckoutDetails_Input_Wrapp{
        width: 400px;
    }
    .CheckoutDetails_Input_LabeL{
        font-size: 16px;
    }
    .CheckoutDetails_Wrapper{
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .CheckoutDetails_Zipcode{
        width: 27.5%;
    }
    .CheckoutDetails_State{
        flex-basis: 70%;
    }
    .CheckoutDetails_Actions{
        flex-direction: row;
    }

}

