.BannerData_Title{
    margin:0;
    position: absolute;
    top:0;
    font-size: 69px;
    width:340px;
    z-index: -1;
    color:white;
    position: absolute;
    display: none;
}
.BannerData_Title_Shadow{
    margin:0;
    position: absolute;
    top:0;
    left:0px;
    font-size: 69px;
    width:340px;
    z-index: 999;
    background: none;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: rgba(0,0,0, 0);
    line-height: 110%;
    }
    .BannerData_Addition{
        display: flex;
        justify-content: space-between;    
        margin-top:47px;
    }
    .BannerData_Button_Wrapper{
        display: flex;
        justify-content: center;
        margin-top:20px;

    }

@media (min-width: 950px) { 
    .BannerData{
        display: flex;
        flex-direction: column;
        margin-left:50px;
        margin-top:100px;
    }
    
    .BannerData_Button_Wrapper{
        display: block;
    }

    .BannerData_Title_Shadow{
        opacity: 0.08;
    }
    .BannerData_Addition{
        display: none;
    }
    .BannerData_Title{
        font-size: 58px;
        margin:0;
        z-index: 3;
        display:block;
        position: relative;
    }
    .BannerData_Title::after{
        content: "";
        display: block;
        width: 7.8125vw;
        max-width: 150px;
        height: 4px;
        background-color: #fff;
        position: relative;
        cursor:none;
        margin-top:100px
    }
    .BannerData_Addition_Data{
        -moz-user-select: none; 
        -ms-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -webkit-touch-callout: none;
    }
    
}


@media (min-width: 950px) and (max-width: 1206px) { 
    .BannerData{
    }
    .Banner{
        flex-direction: row;
        justify-content: space-between;
    }

}
