.ProductPage-Preloader{
    height: calc(100vh - 468px);
    display: flex;
    justify-content: center;
}
.ProductsPage{
    display: flex;
    flex-direction: column;
}


@media (min-width: 950px) {
    .ProductsPage{
        flex-direction: row;
    }

}