.ProductPage-Preloader{
    height: calc(100vh - 468px);
    display: flex;
    justify-content: center;
}
.ProductPage{
    animation: fade 0.8s;
}
@keyframes fade {
    from{
            opacity: 0;  
    }to{
            opacity: 1;
    }
}
.ProductPageFull{
    height: 100vh;
}
