.Pagination_List{
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left:20px;
    margin-right:20px;
}
.Pagination{
    display: flex;
    justify-content: space-between;
    margin-top:82px;
}
.Pagination_List{
    display: flex;
    list-style: none;
    margin:0;
    padding:0;
    align-items: center;
    width: auto;

}
.Pagination_Item,
.Pagination_Item_Link{
    padding: 5px 12px;
    color:black;
    margin-left: -1px;
    border:1px solid transparent;
    line-height: 1.5;
    cursor: pointer;
}



.Pagination_List_Next,
.Pagination_List_Prev{
    width: 25px;
    height: 25px;
    padding: 5px;
    cursor:pointer
}
.Pagination_List_Disabled > a{
    opacity: 0.5;
    cursor: default;
}
.Pagination_Item_Link_active,
.Pagination_Item_active{
    cursor: default;
    opacity: 0.5;
}

@media (min-width: 950px) { 
    .Pagination{
        width: 407px;
        justify-content: center;
        margin:0 auto;
        margin-top:65px;
    }
}