.Header{
    max-width: 306px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    color:#fff;
    padding-top:4.319654427645788vh;
    padding-bottom: 4.319654427645788vh;
    align-items: center;
}
.Header_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Header_Logo_Link{
    color: inherit;
    text-decoration: none;
    z-index: 999999999;
    font-size: 24px;
    display: flex;
    align-items: center;
}



@media (min-width: 950px) { 
    .Header_wrapper{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }


.Header_Logo_Link{
    color: inherit;
    text-decoration: none;
    font-size: 16px;
}

    .Header{
        max-width: 83.54166666666667vw;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8854166666666666vw;
        position: relative;
    }
    .Header_Logo{
        order:1;
        font-size: 16px;
    }
}