.ReviewsRep{
    display: flex;
    justify-content: flex-end;
}
.ReviewsRep_Like{
    display: flex;
    align-items: center;
}
.ReviewsRep_Like_IMG{
    width: 24px;
    height: 24px;
}
.ReviewsRep_Like_Count{
    margin-left: 7px;
}
