.Banner{
    color:white;
    display: flex;
    width: 306px;
    margin:0 auto;
    margin-top:10px;
    flex-direction: column-reverse;
    position: relative;
}


@media (min-width: 950px) { 
    .Banner{
        color:white;
        display: flex;
        width: 1604px;
        margin:0 auto;
        justify-content: space-between;
        margin-top:50px;
        flex-direction: row;

    }

}