@media (min-width: 950px) { 
    .CartPage{
        margin:0 auto;
        max-width: 1604px;
        width: 83.54166666666667vw;
        min-height: calc(100vh - 112px - 70px);
    }
    .CartPage::after{
        content:"";
        display: block;
        width: 30vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.048);
        position: fixed;
        top:0;
        left:0;
        z-index: 3;
    }
}