@media (min-width: 950px) { 
    .CartPage{
        margin:0 auto;
        width: 1604px;
    }
    .CartPage::after{
        content:"";
        display: block;
        width: 30vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.048);
        position: absolute;
        top:0;
        left:0;
        z-index: 3;
    }
}