.Menu_Icon{
    display: block;
    cursor: pointer;
}
.Menu_Icon_Item{
    display: block;
    width: 1.25vw;
    background-color: white;
    margin-bottom: 0.4319654427645788vh;
    min-height: 3px;
    min-width: 20px;
}

.Menu_List{
    list-style: none;
    margin:0;
    padding:0;
    font-size:  1.09375vw;
    margin-left:2.6041666666666665vw;
    margin:0 auto;
    color:white;
    width: 306px;
}
.Menu_List_Wrapper{
    position: fixed;
    background-color: #262626;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    display: none;
    color:inherit;
    z-index: 99999999;
    overflow: hidden;
}

.MenuActive > .Menu_List_Wrapper{
    display: block;
    display: flex;
    align-items: center;
}
.Menu_List_Item:first-child{
    margin:0;
}
.Menu_List_Item{
    
    margin-top:5.075593952483802vh;
    color:inherit;
}
.Menu_Icon{
    z-index: 999999999;
    display: block;
    position: relative;
}

.Menu_List_Item > a {
    text-decoration: none;
    color:inherit;
    font-size: 5.075593952483802vh;
}
.MenuActive > .Menu_Icon > .Menu_Icon_Item {
    background-color:white !important;
}

.MenuActive > .Menu_List_Wrapper > .Menu_List > .Menu_List_Item{
    color:white;
}

@media (min-width: 950px) { 
    .Menu_List_Wrapper{
        display: block;
        width: auto;
        height: auto;
        background: none;
        position: relative;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .Menu_List{
        display: flex;
        font-size: inherit;
        width: auto;
    }
    .Menu_List_Item-Mobile{
        display: none;
    }
    .Menu_List_Item{
        margin-top:0px;
        margin-right: 6.510416666666667vw;
    }
    .Menu_Icon{
        display: none;
    }
    .Menu{
        display: block;
        width: auto;
        order:2;
        margin-left:auto;
    }
    .Menu_Wrapper.MenuActive{
        overflow: hidden;
        position: fixed;
    }

    .Menu_List_Item > a {
        font-size: 16px;
    }
    .Menu_List_Item-onlymobile{
        display: none;
    }
}