    .Ticker{
        display: none;
    }
  @media (min-width: 950px) {
    .Ticker{
        font-size: 10.520833333333334vw;
        background-color: black;
        color:white;
        width: 100%;
        overflow: hidden;
        display: block;
        
    }
    .Ticker_Title{
        margin:0;
        padding: 0;
        padding-left:100%;
        white-space: nowrap;
        padding-right: 150%; 
        width: 100%;
        overflow: hidden;
        animation: ticker 5s linear infinite;
    }
    
      @keyframes ticker {
        0% {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          visibility: visible;
        }
      
        100% {
          -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
        }
      }
  }