.Products{
    list-style: none;
    margin:0;
    padding: 0;
    margin-right: 0;
    padding-top: 50px;
    width: 100%;   
    height: 100%;
}
.Products_Loading{
    height: 100vh;
}

.Products_Item{
    margin-top: 50px;
}
.Products_Item:first-child{
    margin:0;
}
.Products_Item{
    display: flex;
}
.Products_Item_Data{
    display: flex;
    flex-direction: column;
    flex-shrink: none;
    align-items: flex-start;
    width: auto;
    margin-left:120px;
}
.Products_Item_Data_Category{
    margin-top:2px;
    font-weight: 400;
    font-size: 11px;
}
.Products_Item_Data_Title{
    margin:0;
    margin-top:15px;
    word-break: break-word;
}
.Products_Item_Data_Description{
    margin:0;
    padding: 0;
    word-break: break-word;
    display: none;
}
.Products_Item_Data_Link{
    display: block;
    margin-top:12px;
    text-decoration: none;
    color:inherit;
    position: relative;
    z-index: 5;
    font-size: 16px;
    width: auto;
}

.Products_Item_Data_Link::after{
    content: "";
    display: block;
    height: 10px;
    background-color: #D7D7D7;
    position: absolute;
    bottom: 10px;
    z-index: -1;
    left: 0;
}
.Products_Item_IMGWrapper{
    background-color: #F2F2F2;
}

.Products_Item_Data_Price{
    margin:0;
    margin-top:auto;
    margin-bottom: 15px;
}

.Products_Item_IMG{
    height:127px;
    object-fit: scale-down;
    min-width: 120px;
    width: 120px;
}

/* PRELOADEDR ANIMATION */

.Products_Feedback_Wrapper{
    height:calc(100vh - 380px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Products_Feedback{
    font-size: 24px;
    text-align: center;

}

.Products_Item{
    animation: fade 0.8s;
}

@keyframes fade {
    from{
            opacity: 0;  
    }to{
            opacity: 1;
    }
}

@media (min-width: 950px) {
    .Products_Item_Data_SVG{
        width: 20px;
        height: 20px;
    }   

    .Products_Item{
        margin-top:74px;
        display: flex;
        /* justify-content: space-between; */
    } 
    .Products_Item_IMG{
        width:30.3125vw; 
        height:43.84vh;
        max-height: 415px;
        max-width: 581px;
    }
    .Products_Item_Data{
        width: 14.89vw;
        max-width: 315px;
        justify-content: center;
    }

    .Products_Item_Data_Category{
        display: none;
    }
    .Products_Item_Data_Title{
        margin:0;
        font-size: 18px ;
    }
    .Products_Item_Data_Description{
        margin-top:2.8vh;
        font-size:  14px;
        display: block;
    }
    .Products_Item_Data_Link{
        margin-top:10px;
        font-size: 40px;
        transition: all 0.2s ease;
    }
    .Products_Item_Data_Link::after{
        width: 5.885416666666667vw;
        max-width: 100%;
        transition: all 0.2s ease;
    }
    .Products_Item_Data_Link:hover::after{
        height: calc(100% - 10px);
        transition: all 0.2s ease;
    }
    .Products_Item_Data_Price{
        margin:0;
        margin-top:24px;
        font-size: 20px;
        font-weight: 100;
    }

    .Products_Item_IMGWrapper{
        overflow: hidden;
        transition: all .2s ease;
    }
    .Products_Item_IMG{
        transition: all .2s ease;
    }
    .Products_Item_IMGLink:hover .Products_Item_IMGWrapper .Products_Item_IMG{
        transform:scale(1.1);
        transition: all .2s ease;

    }
    .Products_Item_IMGLink:hover .Products_Item_IMGWrapper{
        transform:scale(0.95);
        transition: all .2s ease;
    }
    .Products_Item_IMGLink:hover ~  .Products_Item_Data .Products_Item_Data_Link::after{
        height: calc(100% - 10px);
    }
    
}
